<div class="col-md-4">
  <div class="residence-card" >
    <% if residence.photos.attached? %>
      <div class="residence-card-image" style="background-image: url('<%= cl_image_path residence.photos.first.key%>')"></div>
    <% else %>
      <div class="residence-card-image">Pas de photo</div>
    <% end %>
    <div class="residence-card-content">
      <div class="residence-card-title">
        <h4><%= residence.name %></h4>
      </div>
      <p><%= residence.address %></p>
      <div class="flex">
        <div class="flex align-items-center">
          <i class="fa-solid fa-people-line"></i>
          <span><%= residence.number_of_guests %></span>
        </div>
        <div class="flex align-items-center ms-3">
          <i class="fa-solid fa-euro-sign"></i>
          <span><%= residence.price_per_night %></span>
        </div>
      </div>
    </div>
    <div class="residence-card-actions">
      <%= link_to "More info", residence_path(residence) %>
      <% if policy(residence).update? %>
        <%= link_to "Edit", edit_residence_path(residence), class: "ms-3 text-warning" %>
        <%= link_to "Remove", residence_path(residence),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "ms-3 text-danger"
        %>
      <% end %>
    </div>
  </div>
</div>
