<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: residences_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Recherche"
          %>
        <%= submit_tag "GO !!!", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1>Nos résidences</h1>
    </div>
  </div>
  <div data-controller="insert-in-list">
    <div class="row" data-insert-in-list-target="items">
      <% @residences.each do |residence| %>
        <%= render "residence", residence: residence %>
      <% end %>
    </div>
    <% if policy(Residence).create? %>
      <div class="row">
        <div class="col">
          <div data-controller="toggle" class="mt-5">
            <button class="btn btn-outline-primary" data-action="click->toggle#fire">Ajouter une résidence</button>
            <div data-toggle-target="togglableElement" class="d-none">
              <%= render "form", residence: @residence %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
